
* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

.general-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 95vh;
}


.textarea {
    max-width: 1200px;
    width: 100%;
    height: 100px;
    border: solid rgb(100, 100, 100) 2px;
    font-size: 1.65rem;
    color: rgb(85, 84, 84);
    overflow: auto;
}

.keyboard-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 1200px;
    height: 320px;
    padding: 5px 0;
    border: solid rgb(84, 84, 84) 2px;
    background: rgb(159, 159, 159);
    
   
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.8%;
    height: calc(20% - 5px);
    border: solid rgb(86, 85, 85) 2px;
    border-radius: 5px;
    background: white;
    font-size: 1.2rem;
}

.btn:active {
    background: rgba(76, 87, 90, 0.813);
    color: white;
}

.btn.active {
    background: rgba(76, 87, 90, 0.813);
    color: white;
}

.btn13 {
    width: 13.4%;
}

.btn14 {
    width: 7%;
}

.btn29 {
    width: 12%;
}

.btn29.active {
    background: rgba(71, 86, 90, 0.813);
    color: white;
}

.btn41 {
    width: 13.5%;
}

.btn42 {
    width: 13.5%;
}

.btn54 {
    width: 12%;
}

.btn58 {
    width: 44.5%;
}

.btn64, .btn65, .btn66 {
    display: none;
}

.text {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: -20px;
}



